* {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
}
.form-error {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    max-height: 200px;
    overflow: scroll;
}
.link-danger {
    color: #e83e8c;
}
.link-danger:hover {
    color: #fc544b;
}
.line-login {
    width: 150px;
    height: auto;
}
.line-log-out {
    display: flex;
    width: 150px;
    height: 40px;
}
.line-log-out:hover {
    text-decoration: none;
}
.line-log-out img {
    background-color: #00C300;
    border-radius: 7px 0 0 7px;
    width: 40px;
    height: auto;
    padding: 1px;
}
.line-log-out div:nth-of-type(1) {
    width: 1px;
    height: 40px;
    background-color: #00b330;
}
.line-log-out div:nth-of-type(2) {
    width: 109px;
    background-color: #00C300;
    border-radius: 0 7px 7px 0;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 9px;
}
.medicine-table {
    min-height: 61px;
    display: inline-block;
    border: 1px solid #e4e6fc;
    background-color: #fdfdff;
    border-radius: .25rem;
    padding-left: 10px;
}
.medicine-table tbody tr td:nth-of-type(1) {
    width: calc(100% - 70px - 40px);
}
.medicine-table tbody tr td:nth-of-type(2) {
    width: calc(100% - calc(100% - 70px - 40px) - 40px);
}
.medicine-table tbody tr td:nth-of-type(3) {
    width: calc(100% - calc(100% - 70px - 40px) - 70px)
}
.time-table tr td:nth-of-type(1) {
    width: calc(100% - 40px);
}
.time-table tr td:nth-of-type(2) {
    width: 40px;
}
input.form-control-plaintext {
    pointer-events: none;
}
.bootstrap-timepicker-hour,
.bootstrap-timepicker-minute,
.bootstrap-timepicker-meridian {
    border: 1px solid #888;
}
.bootstrap-timepicker-meridian {
    width: 32px !important;
}
.readonly-background {
    background-color: #fdfdff !important;
}
.bootstrap-timepicker-widget.dropdown-menu.timepicker-orient-left.timepicker-orient-top.open,
.bootstrap-timepicker-widget.dropdown-menu.timepicker-orient-left.timepicker-orient-bottom.open {
    width: 150px;
}
.accordion-header[aria-expanded=true] h4:before {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    padding-right: 10px;
}
.accordion-header[aria-expanded=false] h4:before {
    content: '\f077';
    font-family: "Font Awesome 5 Free";
    padding-right: 10px;
}