* {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
}
.form-error {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    max-height: 200px;
    overflow: scroll;
}