<script type="text/x-handlebars-template" id="template_notice_medicine_info">
    <form id="medicine_info">
        <p><a href="javascript:setMedicineItem()" class="card-link">通知項目に追加</a></p>
        <input type="hidden" name="medicine_id" value="{{medicine_id}}">
        <input type="hidden" name="medicine_name" value="{{medicine_name}}">
        <input type="hidden" name="number" value="{{number}}">
        <div class="form-group">
            <label>薬の名前</label>
            <p>{{medicine_name}}</p>
        </div>
        <div class="form-group">
            <label>病院名</label>
            <p>{{hospital_name}}</p>
        </div>
        <div class="form-group">
            <label>飲む個数</label>
            <p>{{number}} 個</p>
        </div>
        <div class="form-group">
            <label>飲む時間</label>
            <p>{{take_time}}</p>
        </div>
        <div class="form-group">
            <label>処方日</label>
            <p>{{starts_date}}</p>
        </div>
        <div class="form-group">
            <label>処方期間</label>
            <p>{{period}} 日間</p>
        </div>
        <div class="form-group">
            <label>種類</label>
            <p>{{type_name}}</p>
        </div>
        <div class="form-group">
            <label>グループ</label>
            <p>{{group_name}}</p>
        </div>
        <div class="form-group">
            <label>説明</label>
            <p>{{description}}</p>
        </div>
    </form>
</script>