<main>
    <form action="/account-delete" method="post">
        <% if (typeof data.accountDelete.deny !== "undefined" && data.accountDelete.deny !== false) { %>
            <p class="account_delete_deny_message"><%= data.accountDelete.deny %></p>
            パスワード：<input type="text" name="password" value="">
        <% } %>

        <% if (typeof data.accountDelete.success === "undefined" && typeof data.accountDelete.deny === "undefined") { %>
            パスワード：<input type="text" name="password" value="">
        <% } %>
        <br><input type="submit" value="編集">
    </form>
</main>