<div class="section-header">
    <h1>アカウント設定</h1>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">アカウント情報</h4>
    </div>
    <div class="card-body">
        <h6 class="card-title">ユーザー名</h6>
        <p class="card-text"><%= data.account.user_name %></p>
        <h6 class="card-title">メールアドレス</h6>
        <p class="card-text"><%= data.account.mail %></p>
        <a href="/account-edit" class="card-link">アカウント情報変更</a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">LINE通知</h4>
    </div>
    <div class="card-body">
        <% if (typeof data.account.line_user_name !== 'undefined'){ %>
            <p class="card-text"><%= data.account.line_user_name %>でログイン中</p>
            <a href="/account-setting/line-logout" class="button-line">
                <i class="fab fa-fw fa-line"></i>
                <span>ログアウト</span>
            </a>
        <% } else { %>
            <a href="/account-setting/line-login" class="button-line">
                <i class="fab fa-fw fa-line"></i>
                <span>ログイン</span>
            </a>
        <% } %>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">二段階認証設定</h4>
    </div>
    <div class="card-body">
        <p class="card-text">二段階認証をスキップするパソコン情報を管理する場合はこちらから</p>
        <a href="/two-factor-authentication-setting" class="card-link">二段階認証設定</a>
    </div>
</div>

<div class="card card-danger">
    <div class="card-header">
        <h4 class="card-title">アカウント削除</h4>
    </div>
    <div class="card-body">
        <p class="card-text">アカウントを削除する場合はこちらから</p>
        <a href="/account-delete" class="card-link">アカウント削除</a>
    </div>
</div>