<main>
    <h1>パスワード再発行</h1>
    <% if (typeof data.success_message !== "undefined") { %>
        <p class="success_message"><%= data.success_message %></p>
    <% } %>
    <% if (typeof data.error_message !== "undefined") { %>
        <p class="error_message"><%= data.error_message %></p>
    <% } %>
    <form action="/auth-password/<%= data.auth_key %>" method="post">
        <label>
            <span class="label">パスワード</span>
            <input type="password" name="password" required>
        </label>
        <label>
            <span class="label">パスワード（確認）</span>
            <input type="password" name="password_verify" required>
        </label>
        <input type="submit" value="送信">
    </form>
</main>