<main>
    <h1>お問い合わせ</h1>
    <% if (typeof data.success_message !== "undefined") { %>
        <p class="success_message"><%= data.success_message %></p>
    <% } %>
    <% if (typeof data.error_message !== "undefined") { %>
        <p class="error_message"><%= data.error_message %></p>
    <% } %>
    <form action="/contact" method="post">
        <label>
            <span class="label">メールアドレス</span>
            <input type="email" name="mail" required>
        </label>
        <label>
            <span class="label">件名</span>
            <input type="text" name="subject" required>
        </label>
        <label>
            <span class="label">内容</span>
            <textarea name="detail"></textarea>
        </label>
        <input type="submit" value="送信">
    </form>
</main>