<main>
    <h1>パスワード再発行</h1>
    <% if (typeof data.success_message !== "undefined") { %>
        <p class="success_message"><%= data.success_message %></p>
    <% } %>
    <% if (typeof data.error_message !== "undefined") { %>
        <p class="error_message"><%= data.error_message %></p>
    <% } %>
    <form action="/forgot-password" method="post">
        <label>
            <span class="label">メールアドレス</span>
            <input type="email" name="mail" required>
        </label>
        <input type="submit" value="ログイン">
    </form>
</main>