<div class="section-header">
    <h1>使い方</h1>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <ul class="nav nav-pills flex-column" id="introduction" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="introduction-tab" data-toggle="tab" href="#introduction" role="tab" aria-controls="introduction" aria-selected="true">初めに</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">薬情報登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bulk-register-tab" data-toggle="tab" href="#bulk-register" role="tab" aria-controls="bulk-register" aria-selected="false">薬情報一括登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">薬情報一覧</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">お薬カレンダー</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">グループ情報</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="group-update-tab" data-toggle="tab" href="#group-update" role="tab" aria-controls="group-update" aria-selected="false">グループ変更</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="notification-register-tab" data-toggle="tab" href="#notification-register" role="tab" aria-controls="notification-register" aria-selected="false">通知登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="notification-list-tab" data-toggle="tab" href="#notification-list" role="tab" aria-controls="notification-list" aria-selected="false">通知一覧</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-12 col-md-8">
                <div class="tab-content no-padding" id="introductionContent">
                    <div class="tab-pane fade show active" id="introduction" role="tabpanel" aria-labelledby="introduction-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/first.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">ご登録いただきありがとうございます！</p>
                                    当アプリケーションは、薬の管理、薬の飲み忘れの防止を行うことができるアプリケーションです。
                                    1つのアカウントで家族全員分の情報を管理することもできます。
                                    このアプリケーションを利用するには、薬の情報の登録が必要になります。まずは薬の情報の登録を行ってください。
                                    <p class="text-blue">① メニューバーボタン</p>
                                    メニューバーボタンを押していただくと、メニューバーが表示されます。(メニューバー以外の場所をタップしていただくと、メニューバーを閉じることができます)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/register.jpg">
                                    <img class="introduction-image" src="/introduction/register2.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">このページで薬の情報の登録ができます。</p>
                                    <p class="text-blue">① 薬の名前</p>
                                    登録したい薬の名前を入力してください。
                                    <p class="text-blue">② 病院名</p>
                                    薬を処方した病院名を入力してください。(市販の薬の場合は、購入した場所を入力してください)
                                    <p class="text-blue">③ 飲む個数</p>
                                    一回の服用で飲む個数を入力して下さい。
                                    <p class="text-blue">④飲む時間（複数選択可）</p>
                                    薬を服用する時間を選択してください。(複数の時間を選択することが可能です)
                                    <p class="text-blue">⑤ 処方日</p>
                                    薬が処方された日、又は購入日を入力してください。
                                    <p class="text-blue">⑥ 処方期間</p>
                                    薬の処方期間、又は使用期限を入力してください。
                                    <p class="text-blue">⑦ 薬の種類</p>
                                    薬の種類を選択してください。
                                    <p class="text-blue">⑧ グループ</p>
                                    薬を登録したいグループを選択してください。
                                    <p class="text-blue">⑨ 薬画像（オプション）</p>
                                    薬の画像を選択してください。(必須項目ではありません)
                                    <p class="text-blue">⑩ 説明（オプション）</p>
                                    薬の説明を入力してください。(必須項目ではありません)
                                    <p class="text-blue">⑪ 登録ボタン</p>
                                    情報の入力が終わりましたら、押してください。情報が登録されます。
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="bulk-register" role="tabpanel" aria-labelledby="bulk-register-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/bulk-register.jpg">
                                    <img class="introduction-image" src="/introduction/bulk-register2.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">このページで薬の情報を調剤袋の画像認識、又は入力での一括登録を行うことができます。</p>
                                    <p class="text-blue">① 画像選択ボタン</p>
                                    調剤袋の画像を利用する場合には、このボタンを押してください。認識された項目は自動で入力されます。
                                    <p class="text-blue">② 病院名</p>
                                    薬を処方した病院名を入力してください。(市販の薬の場合は、購入した場所を入力してください)
                                    <p class="text-blue">③ 処方日</p>
                                    薬が処方された日、又は購入日を入力してください。
                                    <p class="text-blue">④ グループ</p>
                                    薬を登録したいグループを選択してください。
                                    <p class="text-blue">⑤ 項目追加ボタン</p>
                                    登録したい薬の数に応じて押してください。
                                    <p class="text-blue">⑥ 項目削除ボタン</p>
                                    情報の削除をしたい場合に、押してください。
                                    <p class="text-blue">⑦ 薬の名前</p>
                                    登録したい薬の名前を入力してください。
                                    <p class="text-blue">⑧ 飲む時間（複数選択可）</p>
                                    薬を服用する時間を選択してください。
                                    (複数の時間を選択することが可能です)
                                    <p class="text-blue">⑨ 飲む個数</p>
                                    一回の服用で飲む個数を入力して下さい。
                                    <p class="text-blue">⑩ 処方期間</p>
                                    薬の処方期間、又は使用期限を入力してください。
                                    <p class="text-blue">⑪ 種類</p>
                                    薬の種類を選択してください。
                                    <p class="text-blue">⑫ 登録ボタン</p>
                                    情報の入力が終わりましたら、押してください。情報が登録されます。
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/list.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">このページで薬の情報の確認をすることができます。</p>
                                    <p class="text-blue">① 詳細ボタン</p>
                                    詳細ボタンを押していただくと、薬の情報を確認できます。
                                    <p class="text-blue">② 編集ボタン</p>
                                    編集ボタンを押していただくと、薬の情報の編集ができます。
                                    <p class="text-blue">③ 削除ボタン</p>
                                    削除ボタンを押していただくと、薬の情報の削除ができます。
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/calendar.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">このページでは、薬の処方日、処方期間を簡単に確認できます。</p>
                                    <p class="text-blue">① 薬の名前</p>
                                    カレンダー上の薬の名前をタップすると、タップした薬の情報を確認することができます。
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/group.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">このページでは、薬を登録するグループの作成と管理を行うことができます。</p>
                                    <p class="text-blue">① グループ名入力</p>
                                    作成したいグループ名を入力してください。
                                    <p class="text-blue">② 登録ボタン</p>
                                    グループ名の入力が完了しましたら、押してください。(グループが作成されます)
                                    <p class="text-blue">③ グループ名編集</p>
                                    編集したいグループ名の入力欄に、新しい名前を入力してください。
                                    <p class="text-blue">④ 編集ボタン</p>
                                    新しい名前の入力が完了しましたら、押してください。(グループ名が変更されます)
                                    <p class="text-blue">⑤ 削除ボタン</p>
                                    グループを削除することができます。
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="group-update" role="tabpanel" aria-labelledby="group-update-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/group-update.jpg">
                                    <img class="introduction-image" src="/introduction/group-update2.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">この操作では、薬の所属グループ変更を行うことができます。</p>
                                    <p class="text-blue">① チェック</p>
                                    所属を変更したい薬を選択してください。
                                    <p class="text-blue">② メニューボタン</p>
                                    メニューボタンを押して、メニューを表示してください。
                                    <p class="text-blue">③ グループ変更</p>
                                    グループ変更を選択してください。
                                    <p class="text-blue">④ 移動先選択</p>
                                    薬情報の移動先を選択してください。
                                    <p class="text-blue">⑤ 変更ボタン</p>
                                    移動先を選択したら、変更ボタンを押してください。(所属グループが変更されます)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="notification-register" role="tabpanel" aria-labelledby="notification-register-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/notification-register.jpg">
                                    <img class="introduction-image" src="/introduction/notification-register2.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">この操作では、通知の登録を行うことができます。</p>
                                    <p class="text-blue">① チェック</p>
                                    通知に登録したい薬を選択してください。
                                    <p class="text-blue">② メニューボタン</p>
                                    メニューボタンを押して、メニューを表示してください。
                                    <p class="text-blue">③ 通知登録</p>
                                    通知登録を選択してください。
                                    <p class="text-blue">④ 通知名</p>
                                    通知名を入力してください。
                                    <p class="text-blue">⑤ 時間</p>
                                    通知を送りたい時間を選択してください。(複数の時間を選択することが可能です)
                                    <p class="text-blue">⑥ 曜日</p>
                                    通知を送りたい曜日を選択してください。(複数の曜日を選択することが可能です)
                                    <p class="text-blue">⑦ 通知終了日付</p>
                                    通知を送りたい期間を選択してください。(通知の開始日時は通知の登録日となります)
                                    <p class="text-blue">⑧ 薬名</p>
                                    最初に選択した薬名が自動で入力されます。
                                    <p class="text-blue">⑨ 登録ボタン</p>
                                    情報の入力が終わりましたら、押してください。通知が登録されます。
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="notification-list" role="tabpanel" aria-labelledby="notification-list-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg">
                                    <img class="introduction-image" src="/introduction/notification-list.jpg">
                                </div>
                                <div class="col-lg">
                                    <p class="text-introduction">このページでは、通知の管理を行うことができます。</p>
                                    <p class="text-blue">① 切り替えボタン</p>
                                    通知の情報の表示の切り替えを行うことができます。
                                    <p class="text-blue">② 編集ボタン</p>
                                    通知の情報の編集を行うことができます。
                                    <p class="text-blue">③ 削除ボタン</p>
                                    通知を削除することができます。
                                    <p class="text-blue">④ 無効化/有効化ボタン</p>
                                    通知の無効化/無効化を切り替えることができます。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>