<div>
    <form action="/login" method="post">
        <label>
            <span class="label">ユーザーID</span>
            <input type="text" name="user_id" value="" required="">
            <span class="message"></span>
        </label>
        <label>
            <span class="label">パスワード</span>
            <input type="password" name="password" autocomplete="on" required="">
            <span class="message"></span>
        </label>
        <input type="submit" value="ログイン">
        <p class="account_action">
            <a href="/signup">アカウントを作成</a>
        </p>
    </form>
</div>