<div>
    <form action="/signup" method="post">
        <label>
            <span class="label">ユーザー名</span>
            <input type="text" name="user_name" value="" required="">
            <span class="message"></span>
        </label>
        <label>
            <span class="label">メールアドレス</span>
            <input type="email" name="mail" value="" required="">
            <span class="message"></span>
        </label>
        <label>
            <span class="label">パスワード</span>
            <input type="password" name="password" autocomplete="on" required="">
            <span class="message"></span>
        </label>
        <input type="submit" value="作成">
        <p class="account_action">
            <a href="/login">ログイン</a>
        </p>
    </form>
</div>